.footer-content
{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-top: 1%;
    width: 96%;
 

}

.ft-social-media{
    margin-left: 5%;
}

.ft-contact{

    margin-left: 30%;
}

.ft-social-media i{
    margin-right: 10px;
}

.fa-instagram{
  
    background-image: linear-gradient(to bottom right, yellow, red,purple);
    color: white;
    border-radius: 2px;
}

.fa-twitter{
    background: #55ACEE;
    color: white;
}

.fa-facebook{
  
    background: #3B5998;
    color: white;
}

.fa-youtube{
  
    background: #bb0000;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.ft-social-media a{
    text-decoration: none;
    color: black;
}
.ft-social-media a:hover{
    color: #55ACEE;
}