
.navbar{

 /* position: fixed;*/
  width: 100%;
  height: 7%;
  background-color: #344755; /*#F0F4F9; */
  
}

.navbar ul{
  text-align: center;
  
}


.menu {

  position: relative;

}

.menu a{
  color:rgb(237, 237, 239);
  font-weight:700;
  font-size: 14px;
  padding: 15px 20px;
  font-family:monospace;
  display: inline-block;
  text-decoration: none;
  transition: .7s;


}

.menu a:hover,.navbar a:hover{
  
  
  font-weight:800;
  /*color: rgb(40, 162, 239);
  background-color: rgb(46, 46, 46); opacity:0.6;*/
 
}


.navbar ul li:hover > ul{
  visibility: visible;
  opacity: 0.8;
  z-index: 1;
  overflow: hidden;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0.3s;
}

.navbar ul li ul li{
  width: 100%;
}

.sub-menu {

  visibility: hidden;
  background-color:#344755; /*#F0F4F9; */
  overflow: hidden;
  opacity: 0; 
  position:absolute;
  border-radius: 0px 0px 10px 10px;
  top:100%;
  left:0;
  width:100%;
  transform: translateY(-3em);
  z-index: 1;
  transition: all 0.4s ease 0s, visibility 0s linear 0.01s;


}


.sub-menu a{
  width:100%;
  padding: 15px;
  font-family:monospace;
  display: block;
}

.navbar ul, nav ul li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline-block;
}

.sub-menu a:hover{
  /* color: #06c1f5;  #0682b7;*/
  /*background:rgb(46, 46, 46);*/
  border-bottom: 2px solid #00CED1;
}
.navbar ul li a:after{

  content: '';
  position:absolute;
  left:0;
  bottom:0;
  height: 2px; /*thickness*/
  width: 0;
  background: #00CED1;
  transition: .7s;
}
.navbar ul li a:before{
   content: '';
   position:absolute;
   right:0;
   top:0;
   height: 2px;
   width: 0;
   background:red; /*noeffect since disbled bellow*/
   transition: .7s;
}

/*.navbar ul li:hover:before,*/
.navbar ul li a:hover::after{

  width:100%;
}
